{% extends 'accounts/main.html' %}

{% load static %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="comment-box box">
            <form action="{% url 'createpost' %}" method="post" enctype="multipart/form-data">
                {#                <textarea placeholder="چه خبرا؟ ..."></textarea>#}
                {% csrf_token %}
                {{ form.body }}
                <div class="upload-box">
                    <div class="image-input">
                        <label for="image">
                            <img
                                    src="{% static 'accounts/assets/icons/Frame 830.svg' %}"
                                    alt="camera icon"
                            />
                        </label>
                        {{ form.image }}

                    </div>
                    <button class="btn">بفرست</button>
                </div>
            </form>

        </div>
    {% endif %}
    {% for post in posts %}
        <section>
            <div class="post">
                <div class="user-info">
                    <a href="{% url 'userprofile' username=post.author.username %}">
                        <img
                                class="user-image"
                                {#                                src="{% static 'accounts/assets/images/user.jpg' %}"#}
                                src="{{ post.author.picture.url }}"
                                alt="user image"

                        />
                    </a>
                    <div class="detail">
                        <h3>{{ post.author.first_name }}</h3>
                        <p>{{ post.body }}</p>
                    </div>
                </div>
                {% if post.image %}
                    <div class="post-image">
                        {#                        <img src="{% static 'accounts/assets/images/post1.png' %}" alt="roster"/>#}
                        <img src="{{ post.image.url }}" alt="">
                    </div>
                {% endif %}
                <div class=" actions">
                    <ul>
                        <li><span>120 👍</span></li>
                        <li><span>960 👀</span></li>
                        <li><span>120 ❤️</span></li>
                        <li><span>+</span></li>
                    </ul>
                </div>
                <div class="user-info" style="padding:24px;	border-bottom: 2px dashed #00142966;
">
                    <img
                            class="user-image"
                            src="{% static 'accounts/assets/images/user.jpg' %}"
                            alt="user image"
                    />

                    <div class="detail">
                        <h3>پیری</h3>
                        <p>خروسای دانشکده مهندسی:</p>
                    </div>
                </div>
                <div class="comment-input">
                    <input type="text" placeholder="به نظر من..."/>
                    <button class="btn">کامنت بذار</button>
                </div>
            </div>
        </section>
    {% endfor %}
{% endblock %}