@font-face {
	font-family: "javan";
	src: url("../assets/fonts/javan.ttf") format("truetype"),
}
@font-face {
	font-family: "hilda";
	src: url("../assets/fonts/Hilda.ttf") format("truetype"),
}
@font-face {
	font-family: "iransansRegular";
	src: url("../assets/fonts/dn_regular.ttf") format("truetype"),
}
@font-face {
	font-family: "iransansBold";
	src: url("../assets/fonts/dn_bold.ttf") format("truetype"),
}